extends layout

block content
  h1= title
  - let landRovers = [{model:"THE NEW RANGE ROVER", price: 100000, color:"Red"},{model:"LAND ROVER DISCOVERY", price: 50000, color:"Blue"},{model:"DISCOVERY SPORT", price: 30000, color:"Grey"}]
  div(class="container-fluid mt-3")
  div(class="row")
    each landRover,index in landRovers
        div(class="col-sm-4" onclick=`buy(${index})`) #{landRover.model} - #{landRover.price} - #{landRover.color}
    script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }